<div class="container">
    <div class="page-header">
        <h4>{{name}}<span class="badge">{{totalItems}}</span></h4>
    </div>
    <div class="row" ng-repeat="row in items">
        <div class="col-md-2" ng-repeat="item in row">
            <img class="img-thumbnail" alt="cover" ng-src="{{preview(item)}}" ng-click="onSelect(item)">
            </img>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <pagination total-items="total" ng-model="index" max-size="'10'" class="pagination-sm" boundary-links="true" rotate="false" ng-change="onPageChange()"></pagination>
        </div>
    </div>
</div>
